<%- include('header'); -%>

    <h2>Reset your password!!</h2>
    <p>Please click on this link to reset your password.<br /><a href="<%= url %>/<%= token %>">Reset Password</a></p>
    <p>This link will expire in 5 minutes...</p><br />
    <p>Max Attempt for resend otp is 3!! This your <%= count %> attempt.</p>
